<ul class="nav navbar-nav navbar-right">
    <li>
        @if (Session["CartCounter"] == null)
        {
            @Html.ActionLink("Warenkorb", "ShoppingCart", "Product", new { area = "" }, new { @class = "nav-link", @id = "cartItem" })
        }
        else
        {
            @Html.ActionLink("Warenkorb(" + Session["CartCounter"] + ")", "ShoppingCart", "Product", new { area = "" }, new { @class = "nav-link", @id = "cartItem" })
        }

    </li>
</ul>
