<!--Bearbeiter: Yusuf Can Sönmez-->
<!DOCTYPE html>
<html>
<head>
    @* Meta-Tag zur Anpassung der Ansicht auf verschiedenen Geräten *@
    <meta name="viewport" content="width=device-width" />
    @* Titel der Seite *@
    <title>Fehler</title>
</head>
<body>
    <hgroup>
        @* Hauptüberschrift für die Fehlerseite *@
        <h1>Fehler.</h1>
        @* Unterüberschrift mit einer Fehlermeldung *@
        <h2>Bei der Bearbeitung Ihrer Anfrage ist ein Fehler aufgetreten.</h2>
    </hgroup>

    <hgroup>
        @* Link, um zur Startseite zurückzukehren *@
        <a href="/Product/Index">
            <h2>Gehen Sie zurück zur Startseite.</h2>
        </a>
    </hgroup>
</body>
</html>