<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Fehler</title>
</head>
<body>
    <hgroup>
        <h1>Fehler.</h1>
        <h2>Bei der Bearbeitung Ihrer Anfrage ist ein Fehler aufgetreten.</h2>
    </hgroup>

    <hgroup>
        <a href="/Product/Index">
            <h2>Gehen Sie zurück zur Startseite.</h2>
        </a>
    </hgroup>
</body>
</html>
