@model WebShop.Models.Entity.tblUser

@{
    ViewBag.Title = "Add";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Add</h2>

<div class="m-5">
    @using (Html.BeginForm())
    {
        @Html.EditorForModel("tblUser")
        <div class="clearfix"></div>
        <input type="submit" value="submit" />
    }
</div>

